<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link href="/collections/css/default.css" rel="stylesheet">
    <style>
        .wrap { width: 900px; margin: 10px auto;}
    </style>
</head>
<body>
    <div class="wrap">
        <div class="navbar-collapse collapse">
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="../../archive.html"><span class="glyphicon glyphicon-pencil"></span>  Blog</a></li>
                <li><a href="../../about.html"><span class="glyphicon glyphicon-user"></span>  About</a></li>
                <li><a href="../../contact.html"><span class="glyphicon glyphicon-envelope"></span>  Contact</a></li>
            </ul>-->
        </div>
         {{ content }}
    </div>
   
</body>
</html>
